$bodyBackgroundColor: #1e1e1e;
$green-theme: rgb(0,255,0);

body{
  background-color: $bodyBackgroundColor;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: url('../images/cursor.png'), auto;
}

#main_game_window{
  height: auto;
  clear: both;
}

#main_game_window > img {
  display: block;
  margin:auto;
  width: auto;
  max-height:53vh;
  padding-top:5vh;
  padding-bottom:8vh;
}

#game-over-alert{
  width:100%;
  position: fixed;
  margin-left:auto;
  margin-right:auto;
  color:$green-theme;
  font-size:12rem;
  margin-top:8vh;
  text-align:center;
  text-shadow: -1px -1px 0 $bodyBackgroundColor, 1px -1px 0 $bodyBackgroundColor, -1px 1px 0 $bodyBackgroundColor, 8px 8px 0 $bodyBackgroundColor;
  animation: blinking 0.9s infinite;
  font-weight:400;
  letter-spacing: 5px;
  z-index:999;
}

@keyframes blinking
{
  0%{     visibility: visible;    }
  49%{    visibility: visible;   }
  60%{    visibility: hidden;  }
  99%{    visibility: hidden;    }
  100%{   visibility: visible;    }
}

.darken{
  filter:brightness(50%);
}

@media screen and (max-width: 700px), (max-height: 680px) {
  #main_game_window > img  {
    max-width:90vw;
    padding-top:5vh;
  }
  #game-over-alert{
    position: fixed;
    margin-left:auto;
    margin-right:auto;
    color:$green-theme;
    font-size:5rem;
  }
  .not-visible-in-mobile{
    visibility:hidden;
  }
}
@media screen and (min-height:1200px){
  #main_game_window > img {
    min-width: 70vh;
    padding-top: 5vh;
    max-height:70vh;
  }
}
@media screen and (min-height:1900px){
  #main_game_window > img {
    min-width: 70vh;
    padding-top: 5vh;
    max-height:70vh;
  }
}
