$bodyBackgroundColor: #1e1e1e;
$green-theme: rgb(0,255,0);

body{
  background-color: $bodyBackgroundColor;
  height:100vh;
}

#main_game_window{
height:100vh;
}
#main_game_window > img {
  display: block;
  margin:auto;
  width: auto;
  max-height:53vh;
  padding-top:5vh;
  padding-bottom:10vh;
}
#game-over-alert{
  width:100%;
  position: fixed;
  margin-left:auto;
  margin-right:auto;
  color:$green-theme;
  font-size:12rem;
  margin-top:8vh;
  text-align:center;
  text-shadow: -1px -1px 0 $bodyBackgroundColor, 1px -1px 0 $bodyBackgroundColor, -1px 1px 0 $bodyBackgroundColor, 1px 1px 0 $bodyBackgroundColor;
  animation: blinking 0.9s infinite;
  font-weight:400;
  letter-spacing: 5px;
}

.instead-of-image{
  display: block;
  margin:auto;
  width: auto;
  max-height:53vh;
  padding-top:5vh;
  padding-bottom:10vh;
  height:100vh;
}

@keyframes blinking
{
  0%{     visibility: visible;    }
  49%{    visibility: visible;   }
  60%{    visibility: hidden;  }
  99%{    visibility: hidden;    }
  100%{   visibility: visible;    }
}

@media only screen and (max-width: 980px) {
  #main_game_window > img  {
    max-width:90vw;
    padding-top:5vh;
  }
  #game-over-alert{
    position: fixed;
    margin-left:auto;
    margin-right:auto;
    color:$green-theme;
    font-size:5rem;
  }
}