$green-theme: rgb(0,255,0);

.GameBar{
  color:white;
  display:flex;
  height:28vh;
  width: 80%;
  margin-left:auto;
  margin-right:auto;
  border:2px solid $green-theme;
  border-collapse: collapse;
  background-Color:rgba(0,255,0,0.07);
}

.GameBar div{
  width: 100%;
  border:2px solid $green-theme;
  border-collapse: collapse;
  box-shadow: 0px 0px 2px $green-theme;
}

@media screen and (max-width: 700px), (max-height: 680px) {
  .GameBar{
    width:95vw;
  }

}