$green-theme: rgb(0,255,0);
$bodyBackgroundColor: #1e1e1e;

#game-over-score{
  width:100%;
  margin-left:auto;
  margin-right:auto;
  color:$green-theme;
  font-size:4rem;
  margin-top:0vh;
  text-align:center;
  font-weight:400;
  position: absolute;
  top:1.5rem;
}

#game-over-score > p{
  text-shadow: 0 0 4px $green-theme;
  margin-bottom:3vh;
}
#Restart{
  margin-top:20vh;
  text-shadow: 0 0 4px $green-theme;
  font-size:3rem;
 // cursor: pointer;
 text-align: center;
}

#Restart > img{
  max-width:2.5rem;
  visibility:hidden;
  margin-right:-49px;
}


#Restart:hover > img{
  visibility: visible;
}

@media screen and (max-width: 700px), (max-height: 680px) {

  #game-over-score{
    font-size:2.5rem;
  }
  #Restart{
    font-size:2rem;
    margin-top:10vh;
  }

  #Restart >img{
    margin-left: -29px;
  }
  #game-over-score > p{
    margin-top:1vh;
  }
}