@use '../Colors.scss';

tbody{
  color: Colors.$green-theme;
}

.modal__header{
  font-size:2rem;
  text-align:center;
}


.Highscore__modal{
  max-height:500px;
  min-height:300px;
  overflow:auto;
}

// BAR
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
/* Track */
::-webkit-scrollbar-track {
  background: rgba(24, 24, 24, 0.9);;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: Colors.$green-theme;
}

@media screen and (max-width: 600px){
  .modal__header{
    font-size:1.2rem;
  }

  .table__header{
    font-size:.7rem;
  }
}

@media screen and (max-height: 600px){
  .Highscore__modal{
    max-height:140px;
    min-height:auto;
  }
}

@media screen and (max-width: 350px){
  .modal__header{
    font-size:1.1rem;
  }
}