$textColor: rgb(0,255,0);

#MainMenu h1,h2{
  color: $textColor;
  margin-right: auto;
  margin-left:auto;
  padding:20px;
  text-align:center;
  text-shadow: 0px 0px 3px $textColor;
  height:100%;
}
h1{
  font-size:7rem;
}
h2{
  font-size:4rem;
}
#START-Button{
  margin-top:35vh;
  cursor: pointer;
}

@media only screen and (max-width: 980px) {
  h1 {
    font-size: 4rem;
  }
  h2{
    font-size: 3rem;
  }
}