$textColor: rgb(0,255,0);


#Score{
  width:85%;
  height:45%;
  display:block;
  margin: auto;
  margin-top:7vh;
  text-align: center;
  color: $textColor;
  box-shadow: 0 0 2px $textColor;
  text-shadow: 0 0 4px $textColor;
  letter-spacing: 1px;
  background-Color:rgba(0,255,0,0.15);
}
#Score h3{
  margin:0;
}
h3{
  font-size:1rem;
  padding-top:.35rem;
  margin-right: -60px;
}

@media screen and (max-width: 700px), (max-height: 680px) {
  h3{
    font-size:0.5rem;
    padding-top:.35rem;
  }
  #Score{
    height:50%;
    margin-top:6vh;
  }
}